@model TimetablingSystem1.Models.Building

@{
    ViewBag.Title = "AddBuilding";
}

<h2>AddBuilding</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Building</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.BuildingCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BuildingCode)
            @Html.ValidationMessageFor(model => model.BuildingCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ParkCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ParkCode)
            @Html.ValidationMessageFor(model => model.ParkCode)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@*
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
} *@
