@*
    @model TimetablingSystem1.Models.RoomLookupModel
    @using System.Web.Optimization;

    @{
        ViewBag.Title = "ViewBuildings";
    }

    <h2>ViewBuildings</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
               @Html.DisplayNameFor(model => model.buildingsIndex.BuildingCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.buildingsIndex.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.buildingsIndex.ParkCode)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model.buildingsIndex) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.buildingsIndex.BuildingCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.buildingsIndex.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.buildingsIndex.ParkCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

    </table>
*@