@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Timetabling System</title>
    @Styles.Render("~/Content/themes/base/css")


    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui") 

</head>
<body>
   
    <a href="@Url.Content("~/AddRequest/")">Add Request</a> |
    <a href="@Url.Content("~/ViewRequest/")">View Request</a> |
    <a href="@Url.Content("~/RoomLookup/")">Room Lookup</a> |
    <a href="@Url.Content("~/Module/")">View Modules</a> |
    <a href="@Url.Content("~/Round/")">View Round Info</a> |
    <a href="@Url.Content("~/Logout/")">Logout</a>
    <p>Currently logged in as: @User.Identity.Name</p>
  
              
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Timetabling System</p>
        </footer>
    </div>
    <script type="text/javascript">

     @if (IsSectionDefined("Scripts")) {

         RenderSection("Scripts");

    }

    </script>

</body>
</html>