@model List<TimetablingSystem1.Models.ViewRequestModel>
@{
    ViewBag.Title = "View Requests";
}

<h2>View Requests</h2>
<script>

    function displayDay() {


    }

</script>

<table>
    <tr>
        <td>Module Code</td>
        <td>Module Title</td>
        <td>Day</td>
        <td>Start Time</td>
        <td>End Time</td>
        <td>Weeks</td>
        <td>Number of Rooms</td>
        <td>Priority</td>
    </tr>
    @foreach (var item in Model ) { 
    
     <tr>
       <td>@item.moduleCode </td>
       <td>@item.moduleTitle </td>
      <td> @item.days</td>
        <td>@item.startTime</td>
         <td>@item.endTime</td>
         <td>@item.weeks</td>
         <td>@item.numberOfRooms</td>
         <td>@item.priority</td>


        <td></td>
       
        
      
    </tr>
    
    }
</table>
