@model TimetablingSystem1.Models.RoundModel
@using System.Web.Optimization

@{
    ViewBag.Title = "Index";
}

<h2>View Rounds</h2>

<script type="text/javascript">
    $(document).ready( function () {
    
    
    });
     

    function getSemesterData(semesterID) {

        $("#dataTable").empty();

        $.getJSON("@Url.Action("SemesterAPI", "api", null, Request.Url.Scheme)" + '?SemesterID=' + semesterID)
        .done(function (data) {
            console.log(data);
            var tablestring = "<tr><th>Round |</th><th>Start Date |</th><th>End Date</th></tr>"
            data.forEach(function (entry) {
                if(entry.round == null){var round = ""}
                if (entry.RoundCode == "P") { var round = "Priority" }
                if (entry.RoundCode == "1") { var round = "Round 1" }
                if (entry.RoundCode == "2") { var round = "Round 2" }
                if (entry.RoundCode == "A") { var round = "Ad-hoc" }

                var day = (entry.StartDate).substring(8, 10)
                var month = (entry.StartDate).substring(5, 7)
                var year = (entry.StartDate).substring(0, 4)
                var startdate = day + "-" + month + "-" + year

                var enddate;
                if (entry.EndDate != null) {
                    var day = (entry.EndDate).substring(8, 10)
                    var month = (entry.EndDate).substring(5, 7)
                    var year = (entry.EndDate).substring(0, 4)
                    enddate = day + "-" + month + "-" + year
                }
                if (entry.EndDate == null) { enddate = "" }

                tablestring += "<tr><td>" + round + " |</td><td>" + startdate + " |</td><td>" + enddate + "</td></tr>"


            });

            $("#dataTable").append(tablestring)

        })
        .fail(function (jqXHR, textStatus, err) {
                console.log('Error: ' + err);
        });

    }



</script>

<table>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <tr>
            <td>View Semester Round Info</td>
        </tr>
        <tr>
            <td>
                <select id="semestersSelect" onchange="getSemesterData(document.getElementById('semestersSelect').options[document.getElementById('semestersSelect').selectedIndex].value)">
                    <option selected disabled>Please select</option>
                    <optgroup label="Active">
                        @{
        foreach (var item in Model.currentRounds)
        {
            <option id="selectedsemester" value="@item.Value">@item.Text</option>
        }
                        }
                    </optgroup>
                    <optgroup label="Ended Semesters">
                        @{
        foreach (var item in Model.nonActiveSemesters)
        {
            <option id="selectedsemester" value="@item.Value">@item.Text</option>
        }
                        }
                    </optgroup>

                </select>
            </td>

        </tr>




    }
</table>
<table id="dataTable"></table>







